lw-arrival-pie {
    width: 100px;
    height: 100px;
    display: block;
}

circle.arrpie-circle {
    fill: magenta;
    fill-opacity: 0.1;
    stroke-width: 5;
    stroke: green;
}

path.arrpie-slice {
    fill: cornflowerblue;
}