<!DOCTYPE html>
<html>
<head>
<title>ClockView Canvas</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/bower_components/jasmine-core/lib/jasmine-core/jasmine.css">
<link rel="stylesheet" href="arrivalPie.css" />

<style>
    lw-arrival-pie {
      width: 100px;
      height: 100px;
    }
</style>
</head>
<body>
<template id="lw-arrival-pie-top">
  {% include "web/resources/js/littleware/arrivalPie/arrivalPie.html" %}
</template>

<header>
<h2>ClockView Canvas</h2>

<ul>
   <li><a href="https://www.w3.org/TR/SVG/paths.html#PathDataEllipticalArcCommands">https://www.w3.org/TR/SVG/paths.html#PathDataEllipticalArcCommands</a></li>
   <li><a href="https://danielpataki.com/svg-pie-chart-javascript/">https://danielpataki.com/svg-pie-chart-javascript/</a></li>
</ul>
</header>

<section id="README">
  {% markdown %}
     {% include "web/resources/js/littleware/arrivalPie/README.md" %}
  {% endmarkdown %}
</section>

<section>

<p> Here is the lw-arrival-pie custom element </p>
<lw-arrival-pie>
</lw-arrival-pie>

<p>
Next step - put this thing on the page as a custom element using an html template. <span style="color:green; font-weight:bold; font-size:large">&#x1F603</span>
</p>
<ul>
  <li><a href="https://developers.google.com/web/fundamentals/getting-started/primers/customelements">https://developers.google.com/web/fundamentals/getting-started/primers/customelements</a></li>
</ul>
</section>

<script src="arrivalPie.js"></script>

<script type="text/javascript" src="/bower_components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="/bower_components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
<script type="text/javascript" src="/bower_components/jasmine-core/lib/jasmine-core/boot.js"></script>

<script src="../test/util.js"></script>
<script src="spec/arrivalPieSpec.js"></script>
</body>
</html>