<!DOCTYPE html>
<html>
<head>
<title>ClockView Canvas</title>

<link rel="stylesheet" type="text/css" href="/3rdParty/jasmine-core/lib/jasmine-core/jasmine.css">

 {% include "web/resources/css/littleware/styleGuide/styleGuide.template.html" %}
 {% include "web/resources/js/littleware/arrivalPie/arrivalPie.template.html" %}

<style>
    lw-arrival-pie {
      width: 100px;
      height: 100px;
    }
</style>
</head>
<body>

<header>
<h2>ClockView Canvas</h2>

<ul>
   <li><a href="https://www.w3.org/TR/SVG/paths.html#PathDataEllipticalArcCommands">https://www.w3.org/TR/SVG/paths.html#PathDataEllipticalArcCommands</a></li>
   <li><a href="https://danielpataki.com/svg-pie-chart-javascript/">https://danielpataki.com/svg-pie-chart-javascript/</a></li>
</ul>
</header>

<section id="README">
  {% markdown %}
     {% include "web/resources/js/littleware/arrivalPie/README.md" %}
  {% endmarkdown %}
</section>

<section>

<p> Here is the lw-arrival-pie custom element </p>
<lw-arrival-pie>
</lw-arrival-pie>

<p>
Next step - put this thing on the page as a custom element using an html template. <span style="color:green; font-weight:bold; font-size:large">&#x1F603</span>
</p>
<ul>
  <li><a href="https://developers.google.com/web/fundamentals/getting-started/primers/customelements">https://developers.google.com/web/fundamentals/getting-started/primers/customelements</a></li>
</ul>
</section>


<script type="text/javascript" src="/3rdParty/jasmine-core/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="/3rdParty/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
<script type="text/javascript" src="/3rdParty/jasmine-core/lib/jasmine-core/boot.js"></script>

<script src="../test/util.js"></script>
<script src="spec/arrivalPieSpec.js"></script>
</body>
</html>