<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>        
        <div class="lw-content-root">
            <script src="{{ $.Site.Params.jsroot }}/@littleware/little-elements/web/lib/styleGuide/shell/basicShell.js"></script>
            <script src="{{ $.Site.Params.jsroot }}/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

            {{- partial "header.html" . -}}

            <main role="main">
                {{- block "main" . }}{{- end }}
            </main>
            
            {{- block "context" .}}
                <lw-app-context main-module="{{ $.Site.Params.jsroot }}/@littleware/little-apps/web/lib/indexMain.js" config-href="/config/config-HOSTNAME.json"></lw-app-context>
                <script type="module" src="{{ $.Site.Params.jsroot }}/@littleware/little-elements/web/lib/appContext/appContext.js"></script>
            {{- end }}

      </div>
    </body>
</html>
