{{ define "main" }}

<section class="lw-section-block1 main-section">

    {{ .Content }}

<div class="pure-menu little-app-list">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="./511/index.html"><img class="lw-icon__57x57" src="/resources/img/511.svg" alt="511 icon" />
                <br/>511 app</a>
        </li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="./jwt/index.html"><img class="lw-icon__57x57" src="/resources/img/jwt.svg" alt="511 icon" />
                <br/>JWT app</a>
        </li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="./tests/index.html"><img class="lw-icon__57x57" src="/resources/img/tests.svg" alt="511 icon" />
            <br/>Test suite</a>
        </li>
    </ul>

</div>

</section>
{{ end }}
